#welcome
{
    background-image:url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    text-align: center;
}
#button
{
    display: flex;
    justify-content: center;
    align-items: center;
}